---
import "../styles/reset.css";
import "../styles/global.css";
import Head from "../components/Head.astro";
const { pageTitle } = {
	pageTitle: "Astro",
};
---

<!doctype html>
<html lang="en">
	<Head {pageTitle} />
	<body>
		<slot />
	</body>
</html>